@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.active {
  color: #0355b4;
}

.lang-arrow-down {
  transform: rotate(270deg);
}

.lang-arrow-up {
  transform: rotate(190deg);
}
