@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.active {
  color: #0355b4;
}

.lang-arrow-down {
  transform: rotate(270deg);
}

.lang-arrow-up {
  transform: rotate(190deg);
}

.banner-bg::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #394656;
  mix-blend-mode: hard-light;
}

.servis-card {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  color: #011e41;
  background-size: cover;
  background-repeat: no-repeat;
}

.servis-card:hover {
  background-color: #03a0e2;
  color: #ffffff;
}

.servis-card:hover img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7470%)
    hue-rotate(67deg) brightness(108%) contrast(110%);
}

.servis-card:hover h3,
.servis-card:hover p,
.servis-card:hover a {
  color: #ffffff !important;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #011e41;
}

.transition_css {
  transition: 0.3s linear;
}

@media screen and (min-width: 1999px) {
  body {
    max-width: 1320px;
    margin: 0 auto;
  }
  .burger-hide {
    display: none;
  }
}
@media screen and (max-width: 1999px) {
  .burger-hide {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .inputs input {
    font-size: 1.2rem !important;
  }

  .inputs select {
    font-size: 1.2rem !important;
  }
}

.inputs input {
  border: 1px solid #bfc8ca;
  outline: none;
  font-size: 1.4rem;
  padding: 1.4rem;
}

.inputs input::placeholder {
  color: #002755;
}

.inputs select {
  border: 1px solid #bfc8ca;
  outline: none;
  padding: 1.4rem;
  font-size: 1.4rem;
}
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
